<h1><%= @memo.field("title")%>の編集</h1>

<form action="/edit_memo/<%= @memo.field("id") %>" method="post" >
    <h2>タイトル</label></h2>
    <input type="test" name="title" value="<%= @memo.field("title") %>">
    <h2>本文</label></h2>
    <textarea name="content" cols="40" rows="10"><%= @memo.field("content") %></textarea>
    <input type="hidden" name="_method" value="PATCH">
    <p><input type="submit" value="保存" class="new-button"></p>
    <p><input type="button" class="new-button" value="キャンセル" onClick="location.href='/<%= @memo.field("id") %>'"></p>
</form>
